@import url('https://fonts.googleapis.com/css?family=Nosifer|Oswald|Lobster|Monoton|Modak|Gloria Hallelujah|Courgette');

body {


    

    background: -webkit-gradient(linear, left top, right top, from(#070000), color-stop(#4c0001), to(#070000));


    

    background: linear-gradient(to right, #070000, #4c0001, #070000);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, 
    Safari 7+ */
}


p:hover {

    color: cadetblue;
    font-family: 'Oswald', sans-serif;
    font-size: 17px;
    text-align: justify;
    border-color: aqua;
    border-bottom-style:groove;

}

h1,
h2,
h3,
h5 {
    font-family: 'Courgette', fantasy;
    text-align: center;





    font-size: 25px;
    color: bisque;

}

li {
    color: whitesmoke;
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    text-align: justify;


}

blockqoute p{
font-family: 'Lobster',cursive;
 font-size: 24px;   
    color: blue;
}
    